# Virtual Environments
.venv/
venv/
env/
venv_py3/

# ----------------- Bytecode and Logs -----------------
__pycache__/
*.py[cod]
*$py.class
*.log

# ----------------- Builds and Packaging -----------------
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
sdist/
wheelhouse/
pip-log.txt

# ----------------- Testing and Cache -----------------
.coverage
.tox/
.pytest_cache/
htmlcov/
.ipynb_checkpoints

# ----------------- MODEL WEIGHTS & DATA (Modified) -----------------
# 1. Ignore the data cache folder
data/models/
data/cache/

# 2. Ignore specific model weight folders 
# (We assume these are inside your 'models' or root folder)
**/ner_finetuned/
**/sentiment_finetuned/
**/finbert_finetuned/
**/qa_finetuned/

# 3. Model File Extensions (Global Ignore)
*.bin
*.pt
*.pth
*.safetensors
*.onnx
*.h5
*.tflite
data/models/
fineTuning
src/fineTuning/**/checkpoints/
data/training/Finance_Entities.csv
data/training/Financial_Sentiment_data_cleaned.csv
data/training/Financial_Sentiment_data.csv
data/training/xbrl_financial_ner_augmented.json
data/training/xbrl_financial_ner.json
__pycache__/
.env

# 4. Training Outputs
checkpoint-*/
runs/
results/
wandb/

# ----------------- IDE and OS Files -----------------
.DS_Store
Thumbs.db
.vscode/
.idea/